#comments{
    margin-right: auto;
    margin-left: auto;

    width: 50%;

    margin-top: 2.5%;
}
.comment{
    margin-bottom: 1%;

    border: 2px solid black;

    padding: 0.5%;
}

.author{
    font-size: 90%;
    color: red;
}