form{
    text-align: center;

    margin-right: auto;
    margin-left: auto;
}

input{
    background-color: #222222;
    color: white;

    border: 1px solid #00AF54;

    transition: .3s ease-in;
}
input:focus{
    border: 1px solid #222222;
}

input[type^="submit"]{
    background-color: #00AF54;

    font-family: 'JetBrains Mono', monospace;

    padding-inline: 1%;
    padding-block: 0.5%;

    transition: .3s ease-in;
}
input[type^="submit"]:hover{
    background-color: #008641;
}

textarea{
    background-color: #333333;
    color: white;

    width: 100%;
    height: 400px;

    font-size: 200%;

    border: 1px solid #00AF54;

    transition: .3s ease-in;
}
textarea:focus{
    border: 1px solid #222222;
}

.heading{
    margin-right: auto; 
    margin-left: auto; 
    text-align:center;
}
.link{
    text-decoration: underline;

    color: white;
}